@media (prefers-color-scheme: dark) {
	@import '_red-dark.less';
}
@media (prefers-color-scheme: light) {
	@import '_red-light.less';
}
.vote_matches_table {
	min-width: 695px;
	a {
		float: right;
	}
}
#menu {
	border-radius: 50px;
    position: absolute;
    a {
    	font-size: 11px;
    	font-weight: 700;
    }
    ul {
    	display: flex;
    	justify-content: space-around;
    	width: 695px;
   		li {
   			display: block;
    		padding: 3px 10px;
    		margin: 4px 3px;
    		border-radius: 50px;
    		transition: all 1s ease;
    		&.active {
    			cursor: default;
    		}
    		a {
    			text-decoration: none;
    		}
		}
   	}
}
#userinfo_minor {
	display: flex;
	flex-grow: 2;
	li {
		display: block;
	}
}
#searchbars {
    float: left;
    width: 930px;
    padding: 10px 15px;
    input {
    	width: 116px;
    	color: #444;
    	padding: 5px;
    	font-size: 12px;
    }
}
#searchbars {
	ul {
		display: flex;
		justify-content: end;
		flex-wrap: wrap;
		li {
			display: block;
		}
	}
}
textarea,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
.select {
    padding: 5px;
    border-radius: 2px;
    transition: all 1s ease;
}
#userinfo_username {
    li {
    	display: inline-block;
    }
}
#userinfo {
	display: grid; 
	grid-template-columns: repeat(4, 1fr); 
	grid-template-rows: repeat(3, 1fr); 
	grid-column-gap: 0;
	grid-row-gap: 0; 
	li {
		list-style: none;
	}
}
#userinfo_username { grid-area: 1 / 1 / 2 / 5; } 
#userinfo_major { grid-area: 2 / 1 / 3 / 3; } 
#userinfo_stats { grid-area: 2 / 3 / 3 / 5; } 
#userinfo_minor { grid-area: 3 / 1 / 4 / 5; } 

#userinfo_stats,
#userinfo_major,
#userinfo_minor {
	display: flex;
	justify-content: space-evenly;
}
body {
    padding: 30px 20px 60px 20px;
    font: 9pt/14pt -apple-system;
}